
/* Theme

blue = #6a00fb;
brown = #B2B481;
gold = #CFD381;
yellow = E8F100;

*/

a {
  color: #6a00fb;
}
a:visited {
  color: #222;
}




/* General
*/

img {
  max-width: 505px;
  height: auto;
}


/* Header
*/

#header h2 {
  display: inline-block;
  top: -.3em;
  position: relative;
}
#header a {
  text-decoration: none;
}
#header #search {
  float: right;
}
#header #search {
  margin-top: 1.7em;
}


/* Index
*/

#content.blog .post {
  margin: 3em 0 2em 0;
}
#content #meta > div {
  margin-left: 6em;
}
#content #meta > h1 {
  margin-left: 2em;
}
#content #meta ul {
  list-style-type: none;
  margin: 0 0 3em;
}
#content #meta ul li {
  margin-bottom: 1em;
}
#content #meta #excerpt {
  margin-bottom: 2em;
}

#content.search {
  padding: 3em 0 2em;
}


/* Footer
*/
#footer #contact {
  float: right;
  text-align: right;
}
